@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.card {
    display: inline-block;
    background-image: linear-gradient(180deg, #24251d 0, 
    #0a0a0b 50%, 
    #000000 100%);
    position: absolute;
    height: 55vh;
    width: 35vh;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.cardImage {
    position: absolute;
    width: 100%;
    height: 24vh;
    overflow: hidden;
}

.cardImage img {
    width: 100%;
    height: 100%;
}
.cardLike{
    position: absolute;
    top: 77%;
    left: 82%;
    font-size: 28px;
    color: #f6f6f6;
    cursor: pointer;
}
.like {
    fill: #f6f6f6;
}
.unlike {
    fill: none;
}
.cardText {
    position: absolute;
    top: 40%;
    margin: 12px;
    color: #f6f6f6;
}
.cardText h1 {
    font-size: 18px;
}
.cardText p {
    font-size: 14px;
    font-weight: 300;
    color: #f0f0f0;
    font-family: 'Poppins';
}